@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbar-height: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;
  color: #444444;
  z-index: 0;
  scroll-behavior: smooth;
}

.container {
  width: 95%;
  max-width: 85%;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}


.button{
  transition-duration: 0.5s;
}

.navbar-spacing {
  margin-top: var(--navbar-height, 80px);
}

/* Animation for Hero Section Image */
@media (min-width: 1024px) {
  .imageAnimation {
    scale: 1.3;
    animation: up-down 3s ease-in-out infinite alternate-reverse both;
  }
}

@keyframes up-down {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(30px);
  }
}


.services-div {
  position: relative;
  overflow: hidden;
  border-radius: 16px; 
  border: 2px solid transparent; 
}

.services-div:hover {
  color: white;
}

.services-div::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: linear-gradient(45deg, #14279B, #14279B);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s;
  transform-origin: top right;
  z-index: 2;
}

.services-div:hover::before {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s;
}

.services-div:not(:hover)::before {
  transform: scale(0.3);
  opacity: 0;
  transition: transform 0.3s;
}

/* Control the shrinking of the Blob when hover Ends */
.shrink-div {
  position: absolute;
  top: -2.5rem; 
  right: -2.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1F0FA;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 100px;
  width: 100px;
  transform: scale(1);
  transition: transform 0.3s;
  z-index: 0;
}

.services-div:hover .shrink-div {
  transform: scale(2);
  transition: transform 0.2s;
}


/* input text area style */
.text-area {
  min-height: calc(1.5em + .75rem + 2px);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
